
<div class= "structuralLinks">
  <%= link_to "next", product_path(@next,:designer_id=>@designer.id) %>
<h4 style="position:absolute; right:50px;">Description  &nbsp; <%= link_to 'Photo-gallery', photogallery_product_path(@product) %> &nbsp; <%= link_to 'Datasheet', datasheet_product_path(@product) %></h4>
</div>

<br>
<div class="ProductHeader">
<hr style="clear:both;"/>
<br>
    <h1>  <%= @product.name %>   </h1> 

	<br>
    <h6> Designed by
      <% @designers.each do |designer| %>
          <%= link_to designer.name, designer_path(designer) %>
      <% end  %> <br>
      Exposed in
      <% @events.each do |event| %>
          <%= link_to event.name, event_path(event) %>
      <% end  %> <br>
      <%= link_to 'Find this product', shops_for_this_product_product_path(@product) %>
	<br>
<br>
    </h6>

</div>

<div class="mainEventImg">
<%= image_tag("/products/#{@product.image_url}") %>
</div>

<br>
<br>
<br>
<br>
<br>

<div>
    <h3> Description: </h3>
    <%= @product.description %>
</div>

<br>
<br>

<hr style="clear:both;"/>

<div class="gridList">
  <h3> Match this product</h3>
  <%@matches.each do |matching_product| %>
  <div class="gridBox">
    <%= matching_product.name %>
    <%= link_to product_path(matching_product) do%>
        <%= image_tag("/products/#{matching_product.image_url}") %>
    <% end %>
  </div>
  <% end %>
</div>

<div id="backLinkProduct">

  <div>
    <%= link_to :back do%>
        <%= image_tag("/back.png") %>
    <% end %>
  </div>

  <div>
    Back
  </div>

</div>


