<h1> <%= @event.name %> </h1>

<div class="mainEventImg">
<%= image_tag("/events/#{@event.image_url}") %>
</div>

<br>

<div>
<h3> Description </h3>
<p> <%= @event.description %> </p>
</div>

<div>
<h3> Location </h3>
<p> <%= @event.location %> </p>
</div>

<div>
<h3> Photo-gallery </h3>
  <div class="gridList">
    <% @images.each do |image| %>
        <div class="gridBox" class="flex">
           <%= image_tag("/events/#{image.image_url}") %>
        </div>
    <% end  %>
  </div>
</div>
