<div class="flash_notice">
  <% if !flash[:notice].blank?%>
      <%= flash[:notice] %>
  <% end %>
</div>

<h1>Creation of a new designer</h1>

</br></br>

<table summary="Designer form field">
  <%= form_for @designer do |f| %>

      <tr>
        <th> <%= f.label :name %>  </th>
        <td>  <%= f.text_field :name %>  </td>
      </tr>
      <tr>
        <th>  <%= f.label :top %> </th>
        <td>  <%= f.check_box(:top) %> </td>
      </tr>
      <tr>
        <th> <%= f.label :bio %>  </th>
        <td>  <%= f.text_area :bio, :size => "80x5" %> </td>
      </tr>
      <tr>
        <th> <%= f.label :image_url, 'Image' %>  </th>
        <td>  <%= f.file_field :image_url %> </td>
      </tr>
      <tr>
        <th> </br>  </th>
        <td>   </td>
      </tr>
      <tr>
        <th>  <%= f.submit %> </th>
        <td>   </td>
      </tr>
      </table>
  <% end %>


  <%= link_to "logout", :controller => 'admin',:action => 'logout' %>
