<h1><%= @designer.name %> </h1>

<div class="mainEventImg">
<%= image_tag("/designers/#{@designer.image_url}") %>
</div>

<br>

<div>
<h3> Description </h3>
<%= @designer.bio %>
</div>

<br>

<div>
<h3> Creations </h3>
<%= link_to "Look at #{@designer.name}'s products", products_designer_path(@designer) %>
</div>

<div id="backLink">

  <div>
    <%= link_to :back do%>
        <%= image_tag("/back.png") %>
    <% end %>
  </div>

  <div>
    Back
  </div>

</div>