<!DOCTYPE html>

<html>

<head>
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>HBC website</title>
  <link href="http://fonts.googleapis.com/css?family=Arvo" rel="stylesheet" type="text/css" />
  <%= stylesheet_link_tag    "style", :media => "all" %>
  <%= stylesheet_link_tag    "menu", :media => "all" %>
</head>
<body>
<div id="bg">
  <div id="outer">
    <div id="header">
      <div id="logo">
        <%= link_to image_tag("/ritagliato.jpg", :border=>0), root_path %>
      </div>
      <div id="nav">
        <ul>
          <li >
            <%= link_to 'Home', root_path %>
          </li>
          <li>
            <%= link_to 'Company', company_path %>
          </li>
          <li>
            <%= link_to 'Contacts', contacts_path %>
          </li>
          <li>
            <%= link_to 'Customers', all_customers_path %>
          </li>
          <li class="last">
            <a href="#">Log Admin</a>
          </li>
        </ul>
        <br class="clear" />
      </div>
    </div>

    <div id="main">
      <div id="sidebar">

        <ul id="container">
          <li>
            <a> PRODUCTS </a>
            <%= link_to 'Products type', product_types_path %>
            <%= link_to 'Must have', products_path(:must=>true) %>
            <%= link_to 'What\'s new', products_path(:new=>true) %>
            <%= link_to 'All product', products_path %>

          </li>
          <li id=container_designers>
            <a> DESIGNERS</a>
            <%= link_to 'Top designers', designers_path(:top=>true) %>
            <%= link_to 'All designers', designers_path %>
          </li>
          <li id=container_without_sublist>
            <%= link_to 'EVENTS', events_path %>
          </li>
          <li id=container_without_sublist>
            <%= link_to 'SHOPS', shopfinders_path %>
          </li>
        </ul>

      </div>
      <div id="content">
        <%= yield %>
      </div>
    </div>
  </div>
 </div>
</body>
</html>
