<!DOCTYPE html>

<html>

<head>
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>HBC website</title>
  <link href="http://fonts.googleapis.com/css?family=Arvo" rel="stylesheet" type="text/css" />
  <%= stylesheet_link_tag    "style", :media => "all" %>
  <%= stylesheet_link_tag    "menu", :media => "all" %>
  <!--<link href="style.css.scss" rel="stylesheet" type="text/css" />
  <link href="menu.css.scss" type="text/css" rel="stylesheet" />       -->
</head>

<body>
<div id="bg">
  <div id="outer">
    <div id="header">
      <div id="logo">
        <h1>
          <%= image_tag("/ritagliato.jpg") %>
        </h1>
      </div>
      <div id="nav">
        <ul>
          <li class="first active">
            <%= link_to 'Home', root_path %>
          </li>
          <li>
            <a href="#">Company</a>
          </li>
          <li>
            <a href="#">Contacts</a>
          </li>
          <li>
            <a href="#">All customers</a>
          </li>
          <li class="last">
            <a href="#">Log Admin</a>
          </li>
        </ul>
        <br class="clear" />
      </div>
    </div>

    <div id="main">
      <div id="sidebar">

        <ul id="container">
          <li>
            <a href="#">PRODUCTS</a>
            <a href="#">Product types</a>
            <a href="#">Must have</a>
            <a href="#">What's new</a>
            <a href="#">All product</a>
          </li>
          <li>
            <a href="#">DESIGNERS</a>
            <a href="#">Sub #21</a>
            <a href="#">Sub #22</a>
            <a href="#">Sub #23</a>
            <a href="#">Sub #24</a>
          </li>
          <li>
            <a href="#">EVENTS</a>
            <a href="#">Sub #31</a>
            <a href="#">Sub #32</a>
            <a href="#">Sub #33</a>
            <a href="#">Sub #34</a>
          </li>
          <li>
            <a href="#">SHOPS</a>
            <a href="#">Sub #41</a>
            <a href="#">Sub #42</a>
            <a href="#">Sub #43</a>
            <a href="#">Sub #44</a>
          </li>
        </ul>

      </div>
      <div id="content">
        <%= yield %>
      </div>

      <div id="copyright">
        HBCsite | Design by HesselBuzzoniCalabrese(HBC)
      </div>
    </div>
</body>
</html>
