
<h1><%= @designer.name%>'s products</h1>
<br>
<div class="gridList">
  <% @products.each do |product| %>
      <div class="gridBox">
        <%= product.name %>
        <%= link_to product_path(product,:designer_id=>@designer) do%>
            <%= image_tag("/products/#{product.image_url}") %>
        <% end %>
      </div>
  <% end  %>
</div>




<div id="backLink">

  <div id="imageBack">
    <% if(@backLink=="Top") %>
        <%= link_to designer_path(@designer, :top=>true) do%>
            <%= image_tag("/back.png") %>
        <% end %>
        </div>
        <div align="center">
          Back to "<%= @designer.name%>"
        </div>
    <% else %>
        <%= link_to designer_path(@designer) do%>
            <%= image_tag("/back.png") %>
        <% end %>
        </div>
        <div align="center">
          Back to "<%= @designer.name%>"
        </div>
    <% end %>

</div>