<h1><%= @designer.name %> </h1>

<div class="mainEventImg">
<%= image_tag("/designers/#{@designer.image_url}") %>
</div>

<br>

<div>
<h3> Description </h3>
<%= @designer.bio %>
</div>

<br>

<div>
<h3> Creations </h3>
<% if(@backLink=="Top") %>
<%= link_to "Look at #{@designer.name}'s products", products_designer_path(@designer, :top=>true) %>
<% else %>
<%= link_to "Look at #{@designer.name}'s products", products_designer_path(@designer) %>
<% end %>

</div>


<div id="backLink">

  <div id="imageBack">
    <% if(@backLink=="Top") %>
        <%= link_to designers_path(:top=>true) do%>
            <%= image_tag("/back.png") %>
        <% end %>
        </div>
        <div align="center">
          Top-designer's list
        </div>
    <% else %>
        <%= link_to designers_path do%>
            <%= image_tag("/back.png") %>
        <% end %>
        </div>
        <div align="center">
          All designer's list
        </div>
    <% end %>


    </div>
